@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arvo|Inconsolata|Macondo|Roboto+Mono|Open+Sans+Condensed:300|Saira+Condensed|Gruppo');

* {
	margin: 0;
	padding: 0;

}

header {
	height: 60px;
	background:rgba(0,0,0,0.9);
	display: flex;
	justify-content: space-between;
}

.logo a {
	display: flex;
	justify-content: flex-end;
	color: white;
	text-decoration: none;
	font-family: Gruppo;
/*	font-family: AbrilFatface;*/
}

.logo {
	margin-top: 12px;
	margin-left: 45px;

}

nav {
	margin-right: 150px;

}

nav ul {
	display: flex;
	justify-content: flex-end;

}

nav li {
/*	display: inline-block;*/
	margin-left: 25px;
	margin-top: 20px;

}

nav a {
	color: grey;
	text-decoration: none;
	font-family: Arvo;

}

nav a:hover {
	color: white;
}


footer {
	font-size: 30px;
	right: 1em;
	position: absolute; bottom: 0;

}

footer li {
	list-style: none;
	text-align: left;
	float: left;
  	margin-right: 15px;
  	margin-bottom: 10px;
}

footer a {
	text-decoration: none;
	color: white;
	}

#instagram_icon:hover {
	color: #b0005e;
}

#facebook_icon:hover {
	color: #3b5998;
}



